{% extends 'base.html.twig' %}

{% block title %}Bienvenue, {{app.user.name}}{% endblock %}

{% block body %}
    <h1>Bienvenue {{app.user.name}}</h1>
    <a class="btn btn-primary" href="{{path("recette_create")}}">Créez une recette </a>
    <div class="card-deck">
        {% for recette in recettes %}
        <div class="col-4">
            <div class="card">
                <h2 class="card-title">
                {{recette.name}}
                </h2>
                <div class="card-body">
                    <h2>Ingredients</h2>
                    <ul> 
                        {% for ingredient in recette.ingredients %}
                            <li>{{ingredient.name}}</li>
                        {% endfor %}
                    </ul>
                    <h2>Etapes</h2>
                    <ul> 
                        {% for step in recette.steps %}
                            <li>{{step.name}}</li>
                        {% endfor %}
                    </ul>
                    <a class="btn btn-primary" href="{{path("recette_edit", {id:recette.id})}}">Modifier</a>
                    <a class="btn btn-danger" href="{{path("recette_delete", {id:recette.id})}}">Supprimer</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %} 

{# {% block body %}
    <h1>Bienvenue {{app.user.name}}</h1>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for recette in app.user.recipes %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-{{loop.index0}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{loop.index0}}" aria-expanded="false" aria-controls="flush-collapse-{{loop.index0}}">
                    {{recette.name}}
                </button>
                </h2>
                <div id="flush-collapse-{{loop.index0}}" class="accordion-collapse collapse" aria-labelledby="flush-{{loop.index0}}" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                <a href="{{path("recette_edit", {id:recette.id})}}">Modifier</a>
                <a href="{{path("recette_delete", {id:recette.id})}}">Supprimer</a>
                    <h2>Ingredients</h2>
                        <ul> 
                            {% for ingredient in recette.ingredients %}
                                <li>{{ingredient.name}}</li>
                            {% endfor %}
                        </ul>
                        <h2>Etapes</h2>
                        <ul> 
                            {% for step in recette.steps %}
                                <li>{{step.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
       {% endfor %}
    </div>
{% endblock %} #}
